.hos{
    background-image: url(Types-of-Hospitals-2.jpg);
    height: 500px;
    
    
}
.hh{
    margin-left: 50px;
}

.box1{
    color: white;
    text-align: center;
    margin-top: 100px;
}
.box2{
    padding: 40px;
}
.box3{
    padding: 40px;
}
.box4{
    padding: 40px;
}
.pic{
    margin-left: 60px;
    margin-top: 50px;
}
.picc{
    margin-left: 80px;
    margin-top: 30px;
}
.piccc{
    margin-left: 60px;
    margin-top: 30px;
}
.box5{
    margin-top: 80px;
}
.boo{
    background-color: rgb(156, 209, 254);
}
.box6{
    padding: 25px;
}
.box7{
    text-align: center;
    padding: 30px;
}
.box8{
    padding: 50px;
}
.bo{
    text-align: center;
    margin-top: 26px;
}
.box9{
    text-align: center;
    background-color: rgb(156, 209, 254);
    padding: 20px;
}
.box10{
    text-align: center;
    padding: 50px;
  
}
.box11{
    text-align: center;
    background-color: azure;
    padding: 20px;
}
.fi{
    margin-left: 450px;
}
.doctr{
    width: 100%;
}